*{
    margin: 0px;padding: 0px;
}
nav{
    background-color: black;
    color: whitesmoke;
    padding: 20px;
}
h1,li,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color: pink;
}
input{
    padding: 15px;
    width: 60%;
}
.searchbar{
    text-align: center; 
    padding: 50px;  
}
.box{
    border-color: black;
    border-width: 2px;
    border-style: dotted;
    display:  inline-block;
    width: 220px;
}
.products{
    text-align: center;
    }
.box:hover{
    background-color: brown;
    color: aqua;
}
.about{
    text-align: center;
    margin-top: 15px;
    padding: 30px;
}